.elementor-407 .elementor-element.elementor-element-012c279 {
  padding: 60px 20px 30px;
  z-index: 999;
}
.elementor-407 .elementor-element.elementor-element-69fb8f7 {
  margin-top: 0;
  margin-bottom: 90px;
}
.elementor-407 .elementor-element.elementor-element-0b64e48 img {
  width: 40px;
  max-width: 100%;
}
.elementor-407
  .elementor-element.elementor-element-0b64e48
  > .elementor-widget-container {
  margin: 0 10px 0 0;
}
.elementor-407 .elementor-element.elementor-element-0b64e48 {
  width: auto;
  max-width: auto;
  z-index: 55;
}
.elementor-407
  .elementor-element.elementor-element-62db849
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-6092f02-font-family), Sans-serif;
  font-size: var(--e-global-typography-6092f02-font-size);
  font-weight: var(--e-global-typography-6092f02-font-weight);
  line-height: var(--e-global-typography-6092f02-line-height);
  letter-spacing: var(--e-global-typography-6092f02-letter-spacing);
  word-spacing: var(--e-global-typography-6092f02-word-spacing);
}
.elementor-407
  .elementor-element.elementor-element-62db849
  > .elementor-widget-container {
  margin: 0 0 0 5px;
}
.elementor-407 .elementor-element.elementor-element-62db849 {
  width: auto;
  max-width: auto;
  z-index: 55;
}
.elementor-407 .elementor-element.elementor-element-df3601c {
  --spacer-size: 500px;
  width: 1000px;
  max-width: 1000px;
  bottom: -227px;
  z-index: 0;
}
body:not(.rtl) .elementor-407 .elementor-element.elementor-element-df3601c {
  right: -910px;
}
body.rtl .elementor-407 .elementor-element.elementor-element-df3601c {
  left: -910px;
}
.elementor-407
  .elementor-element.elementor-element-df3601c
  > .elementor-widget-container {
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    var(--e-global-color-6697f22) 0%,
    #f2295b00 70%
  );
}
.elementor-407 .elementor-element.elementor-element-6532bbc {
  --spacer-size: 300px;
  width: 300px;
  max-width: 300px;
  top: -107px;
  z-index: 0;
}
body:not(.rtl) .elementor-407 .elementor-element.elementor-element-6532bbc {
  left: -155px;
}
body.rtl .elementor-407 .elementor-element.elementor-element-6532bbc {
  right: -155px;
}
.elementor-407
  .elementor-element.elementor-element-6532bbc
  > .elementor-widget-container {
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    var(--e-global-color-e89055c) 0%,
    #f2295b00 70%
  );
}
.elementor-407
  .elementor-element.elementor-element-370c2ab
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-407
  .elementor-element.elementor-element-370c2ab
  > .elementor-element-populated {
  margin: 0 30px 0 0;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
}
.elementor-407 .elementor-element.elementor-element-370c2ab {
  z-index: 50;
}
.elementor-407
  .elementor-element.elementor-element-e703636
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-407 .elementor-element.elementor-element-23ec2de {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-9a9307a);
  --divider-border-width: 5px;
}
.elementor-407
  .elementor-element.elementor-element-23ec2de
  .elementor-divider-separator {
  width: 20px;
}
.elementor-407 .elementor-element.elementor-element-23ec2de .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(8px / 2);
  margin-left: calc(8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px / 2);
  margin-left: calc(-8px / 2);
}
body.rtl
  .elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-8px / 2);
}
body:not(.rtl)
  .elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-text);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-text);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-9a9307a);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-9a9307a);
}
.elementor-407 .elementor-element.elementor-element-17e2fda {
  --e-icon-list-icon-size: 14px;
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-text {
  color: var(--e-global-color-6283245);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-407
  .elementor-element.elementor-element-17e2fda
  .elementor-icon-list-item
  > a {
  font-family: noto sans thai, Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
}
.elementor-407
  .elementor-element.elementor-element-17e2fda
  > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-407
  .elementor-element.elementor-element-0aebd87
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-407
  .elementor-element.elementor-element-0aebd87
  > .elementor-element-populated {
  margin: 0 30px 0 0;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
}
.elementor-407 .elementor-element.elementor-element-0aebd87 {
  z-index: 50;
}
.elementor-407
  .elementor-element.elementor-element-3938844
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-407 .elementor-element.elementor-element-434a1ce {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-9a9307a);
  --divider-border-width: 5px;
}
.elementor-407
  .elementor-element.elementor-element-434a1ce
  .elementor-divider-separator {
  width: 20px;
}
.elementor-407 .elementor-element.elementor-element-434a1ce .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(8px / 2);
  margin-left: calc(8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px / 2);
  margin-left: calc(-8px / 2);
}
body.rtl
  .elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-8px / 2);
}
body:not(.rtl)
  .elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-8px / 2);
}
.elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-407
  .elementor-element.elementor-element-7d49700
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-407 .elementor-element.elementor-element-7d49700 {
  --e-icon-list-icon-size: 16px;
}
.elementor-407
  .elementor-element.elementor-element-7d49700
  > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-407
  .elementor-element.elementor-element-ad0c6d2
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-407 .elementor-element.elementor-element-ad0c6d2 {
  z-index: 50;
}
.elementor-407
  .elementor-element.elementor-element-0c647bb
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-407 .elementor-element.elementor-element-05ab534 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-9a9307a);
  --divider-border-width: 5px;
}
.elementor-407
  .elementor-element.elementor-element-05ab534
  .elementor-divider-separator {
  width: 20px;
}
.elementor-407 .elementor-element.elementor-element-05ab534 .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0;
}
body:not(.rtl)
  .elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0;
}
body
  .elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  border-width: 2px;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-field-group
  .elementor-select-wrapper
  select {
  border-width: 2px;
}
.elementor-407 .elementor-element.elementor-element-2d4f184 .elementor-button {
  border-style: solid;
  border-width: 2px;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .e-form__buttons__wrapper__button-next {
  background-color: #02010100;
  color: var(--e-global-color-6283245);
  border-color: var(--e-global-color-text);
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-button[type='submit'] {
  background-color: #02010100;
  color: var(--e-global-color-6283245);
  border-color: var(--e-global-color-text);
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-button[type='submit']
  svg
  * {
  fill: var(--e-global-color-6283245);
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .e-form__buttons__wrapper__button-next:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-primary);
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-button[type='submit']:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-primary);
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  .elementor-button[type='submit']:hover
  svg
  * {
  fill: var(--e-global-color-accent);
}
.elementor-407 .elementor-element.elementor-element-2d4f184 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-407
  .elementor-element.elementor-element-2d4f184
  > .elementor-widget-container {
  margin: 30px 0 0;
}
.elementor-bc-flex-widget
  .elementor-407
  .elementor-element.elementor-element-7166853.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-407
  .elementor-element.elementor-element-7166853.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-407 .elementor-element.elementor-element-7166853 {
  z-index: 20;
}
.elementor-bc-flex-widget
  .elementor-407
  .elementor-element.elementor-element-a2623c7.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-407
  .elementor-element.elementor-element-a2623c7.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-407
  .elementor-element.elementor-element-a2623c7
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 20px;
}
.elementor-407 .elementor-element.elementor-element-771ff27 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 18px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
  z-index: 20;
}
.elementor-407
  .elementor-element.elementor-element-771ff27
  .elementor-widget-container {
  text-align: right;
}
.elementor-407
  .elementor-element.elementor-element-771ff27
  .elementor-social-icon {
  background-color: var(--e-global-color-9a9307a);
}
.elementor-407
  .elementor-element.elementor-element-771ff27
  .elementor-social-icon
  i {
  color: var(--e-global-color-accent);
}
.elementor-407
  .elementor-element.elementor-element-771ff27
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-407
  .elementor-element.elementor-element-771ff27
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-407 .elementor-element.elementor-element-32deafc {
  --spacer-size: 30px;
  width: 30px;
  max-width: 30px;
  top: 205px;
  z-index: 55;
}
body:not(.rtl) .elementor-407 .elementor-element.elementor-element-32deafc {
  left: -44px;
}
body.rtl .elementor-407 .elementor-element.elementor-element-32deafc {
  right: -44px;
}
.elementor-407
  .elementor-element.elementor-element-32deafc
  > .elementor-widget-container {
  background-color: var(--e-global-color-f344630);
}
.elementor-407
  .elementor-element.elementor-element-32deafc:not(.elementor-widget-image)
  .elementor-widget-container {
  -webkit-mask-image: url(/circle.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center left;
  -webkit-mask-repeat: no-repeat;
}
.elementor-407
  .elementor-element.elementor-element-32deafc.elementor-widget-image
  .elementor-widget-container
  img {
  -webkit-mask-image: url(/circle.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center left;
  -webkit-mask-repeat: no-repeat;
}
.elementor-407 .elementor-element.elementor-element-17289ca {
  --spacer-size: 15px;
  width: 15px;
  max-width: 15px;
  top: 151px;
  z-index: 55;
}
body:not(.rtl) .elementor-407 .elementor-element.elementor-element-17289ca {
  left: -1px;
}
body.rtl .elementor-407 .elementor-element.elementor-element-17289ca {
  right: -1px;
}
.elementor-407
  .elementor-element.elementor-element-17289ca
  > .elementor-widget-container {
  background-color: var(--e-global-color-primary);
}
.elementor-407
  .elementor-element.elementor-element-17289ca:not(.elementor-widget-image)
  .elementor-widget-container {
  -webkit-mask-image: url(/circle.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center left;
  -webkit-mask-repeat: no-repeat;
}
.elementor-407
  .elementor-element.elementor-element-17289ca.elementor-widget-image
  .elementor-widget-container
  img {
  -webkit-mask-image: url(/circle.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center left;
  -webkit-mask-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .elementor-407
    .elementor-element.elementor-element-25d05b3
    > .elementor-element-populated {
    margin: 30px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-407
    .elementor-element.elementor-element-62db849
    .elementor-heading-title {
    font-size: var(--e-global-typography-6092f02-font-size);
    line-height: var(--e-global-typography-6092f02-line-height);
    letter-spacing: var(--e-global-typography-6092f02-letter-spacing);
    word-spacing: var(--e-global-typography-6092f02-word-spacing);
  }
  body:not(.rtl) .elementor-407 .elementor-element.elementor-element-df3601c {
    right: -320.5px;
  }
  body.rtl .elementor-407 .elementor-element.elementor-element-df3601c {
    left: -320.5px;
  }
  .elementor-407
    .elementor-element.elementor-element-370c2ab
    > .elementor-element-populated {
    margin: 30px 30px 0 0;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
  }
  .elementor-407
    .elementor-element.elementor-element-e703636
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-407
    .elementor-element.elementor-element-0aebd87
    > .elementor-element-populated {
    margin: 30px 30px 0 0;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
  }
  .elementor-407
    .elementor-element.elementor-element-3938844
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-407
    .elementor-element.elementor-element-ad0c6d2
    > .elementor-element-populated {
    margin: 30px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-407
    .elementor-element.elementor-element-0c647bb
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
}
@media (min-width: 768px) {
  .elementor-407 .elementor-element.elementor-element-25d05b3 {
    width: 20%;
  }
  .elementor-407 .elementor-element.elementor-element-370c2ab {
    width: 22%;
  }
  .elementor-407 .elementor-element.elementor-element-0aebd87 {
    width: 32%;
  }
  .elementor-407 .elementor-element.elementor-element-ad0c6d2 {
    width: 26%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-407 .elementor-element.elementor-element-25d05b3 {
    width: 60%;
  }
  .elementor-407 .elementor-element.elementor-element-370c2ab {
    width: 50%;
  }
  .elementor-407 .elementor-element.elementor-element-0aebd87 {
    width: 50%;
  }
  .elementor-407 .elementor-element.elementor-element-ad0c6d2 {
    width: 50%;
  }
  .elementor-407 .elementor-element.elementor-element-7166853 {
    width: 70%;
  }
  .elementor-407 .elementor-element.elementor-element-a2623c7 {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .elementor-407 .elementor-element.elementor-element-012c279 {
    padding: 0 20px 30px;
  }
  .elementor-407
    .elementor-element.elementor-element-62db849
    .elementor-heading-title {
    font-size: var(--e-global-typography-6092f02-font-size);
    line-height: var(--e-global-typography-6092f02-line-height);
    letter-spacing: var(--e-global-typography-6092f02-letter-spacing);
    word-spacing: var(--e-global-typography-6092f02-word-spacing);
  }
  body:not(.rtl) .elementor-407 .elementor-element.elementor-element-df3601c {
    right: -10.4px;
  }
  body.rtl .elementor-407 .elementor-element.elementor-element-df3601c {
    left: -10.4px;
  }
  body:not(.rtl) .elementor-407 .elementor-element.elementor-element-6532bbc {
    left: -196px;
  }
  body.rtl .elementor-407 .elementor-element.elementor-element-6532bbc {
    right: -196px;
  }
  .elementor-407
    .elementor-element.elementor-element-e703636
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-407
    .elementor-element.elementor-element-3938844
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-407
    .elementor-element.elementor-element-0c647bb
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-407 .elementor-element.elementor-element-e9ea001 {
    text-align: center;
  }
  .elementor-407
    .elementor-element.elementor-element-771ff27
    .elementor-widget-container {
    text-align: center;
  }
  .elementor-407 .elementor-element.elementor-element-32deafc {
    --spacer-size: 43px;
  }
  body:not(.rtl) .elementor-407 .elementor-element.elementor-element-17289ca {
    left: 236px;
  }
  body.rtl .elementor-407 .elementor-element.elementor-element-17289ca {
    right: 236px;
  }
  .elementor-407 .elementor-element.elementor-element-17289ca {
    top: 119px;
  }
}
