.elementor-404 .elementor-element.elementor-element-eb63a5d {
  padding: 20px;
  z-index: 999;
}
.elementor-bc-flex-widget
  .elementor-404
  .elementor-element.elementor-element-cf1f5b2.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-404
  .elementor-element.elementor-element-cf1f5b2.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-404
  .elementor-element.elementor-element-cf1f5b2.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-404 .elementor-element.elementor-element-1fd19a7 img {
  width: 40px;
  max-width: 100%;
}
.elementor-404
  .elementor-element.elementor-element-1fd19a7
  > .elementor-widget-container {
  margin: 0 10px 0 0;
}
.elementor-404 .elementor-element.elementor-element-1fd19a7 {
  width: auto;
  max-width: auto;
}
.elementor-404
  .elementor-element.elementor-element-5998cf1
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-6092f02-font-family), Sans-serif;
  font-size: var(--e-global-typography-6092f02-font-size);
  font-weight: var(--e-global-typography-6092f02-font-weight);
  line-height: var(--e-global-typography-6092f02-line-height);
  letter-spacing: var(--e-global-typography-6092f02-letter-spacing);
  word-spacing: var(--e-global-typography-6092f02-word-spacing);
}
.elementor-404 .elementor-element.elementor-element-5998cf1 {
  width: auto;
  max-width: auto;
}
.elementor-bc-flex-widget
  .elementor-404
  .elementor-element.elementor-element-28f46ad.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-404
  .elementor-element.elementor-element-28f46ad.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-404
  .elementor-element.elementor-element-28f46ad.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-menu-toggle {
  margin: 0 auto;
  background-color: #02010100;
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-6283245);
  fill: var(--e-global-color-6283245);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-primary);
  fill: var(--e-global-color-primary);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  a,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-menu-toggle {
  color: var(--e-global-color-text);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-eaa4231);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-accent);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: var(--e-global-color-primary);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  div.elementor-menu-toggle {
  color: var(--e-global-color-text);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-text);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  div.elementor-menu-toggle:hover {
  color: var(--e-global-color-primary);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  div.elementor-menu-toggle:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-404
  .elementor-element.elementor-element-4371366
  .elementor-menu-toggle:hover {
  background-color: #02010100;
}
.elementor-404
  .elementor-element.elementor-element-4371366
  > .elementor-widget-container {
  margin: 0 30px 0 0;
}
.elementor-404 .elementor-element.elementor-element-4371366 {
  width: auto;
  max-width: auto;
}
.elementor-404 .elementor-element.elementor-element-138762f .elementor-button {
  fill: var(--e-global-color-6283245);
  color: var(--e-global-color-6283245);
  background-color: #02010100;
  border-style: solid;
  border-width: 2px;
}
.elementor-404
  .elementor-element.elementor-element-138762f
  .elementor-button:hover,
.elementor-404
  .elementor-element.elementor-element-138762f
  .elementor-button:focus {
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-404
  .elementor-element.elementor-element-138762f
  .elementor-button:hover
  svg,
.elementor-404
  .elementor-element.elementor-element-138762f
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-404 .elementor-element.elementor-element-138762f {
  width: initial;
  max-width: initial;
}
@media (max-width: 1024px) {
  .elementor-404
    .elementor-element.elementor-element-5998cf1
    .elementor-heading-title {
    font-size: var(--e-global-typography-6092f02-font-size);
    line-height: var(--e-global-typography-6092f02-line-height);
    letter-spacing: var(--e-global-typography-6092f02-letter-spacing);
    word-spacing: var(--e-global-typography-6092f02-word-spacing);
  }
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-text-font-size);
  }
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--dropdown
    a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 45px !important;
  }
}
@media (min-width: 768px) {
  .elementor-404 .elementor-element.elementor-element-cf1f5b2 {
    width: 20%;
  }
  .elementor-404 .elementor-element.elementor-element-28f46ad {
    width: 80%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-404 .elementor-element.elementor-element-cf1f5b2 {
    width: 30%;
  }
  .elementor-404 .elementor-element.elementor-element-28f46ad {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .elementor-404 .elementor-element.elementor-element-cf1f5b2 {
    width: 70%;
  }
  .elementor-404
    .elementor-element.elementor-element-5998cf1
    .elementor-heading-title {
    font-size: var(--e-global-typography-6092f02-font-size);
    line-height: var(--e-global-typography-6092f02-line-height);
    letter-spacing: var(--e-global-typography-6092f02-letter-spacing);
    word-spacing: var(--e-global-typography-6092f02-word-spacing);
  }
  .elementor-404 .elementor-element.elementor-element-28f46ad {
    width: 30%;
  }
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-text-font-size);
  }
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--dropdown
    a {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-404
    .elementor-element.elementor-element-4371366
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 25px !important;
  }
  .elementor-404 .elementor-element.elementor-element-4371366 {
    --nav-menu-icon-size: 28px;
  }
  .elementor-404
    .elementor-element.elementor-element-4371366
    > .elementor-widget-container {
    margin: 0;
  }
}
